html,
html .halflings {
  -webkit-font-smoothing: antialiased !important;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../font/glyphiconshalflings-regular.eot');
  src: url('../font/glyphiconshalflings-regular-0.eot#iefix') format('embedded-opentype'), url('../font/glyphiconshalflings-regular.woff') format('woff'), url('../font/glyphiconshalflings-regular.ttf') format('truetype'), url('../font/glyphiconshalflings-regular.svg#glyphicons_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.halflings {
  display: inline-block;
  position: relative;
  padding: 0 0 0 25px;
  color: #1d1d1b;
  text-decoration: none;
  *display: inline;
  *zoom: 1;
}
.halflings i:before {
  position: absolute;
  left: 0;
  top: 0;
  font: 12px/1em 'Glyphicons Halflings';
  font-style: normal;
  color: #1d1d1b;
}
.halflings.white i:before {
  color: #fff;
}
.halflings-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(../img/glyphicons_halflings.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *margin-right: .3em;
}
.no-inlinesvg .halflings-icon {
  background-image: url(../img/glyphicons_halflings.png);
}
.halflings-icon.white {
  background-image: url(../img/glyphicons_halflings-white.svg);
}
.no-inlinesvg .halflings-icon.white {
  background-image: url(../img/glyphicons_halflings-white.png);
}

.halflings-icon.user {
  background-position: -168px 0;
}
.halflings-icon.edit {
  background-position: -96px -72px;
}
.halflings-icon.trash {
  background-position: -456px 0;
}
.halflings-icon.off {
  background-position: -384px 0;
}
.halflings-icon.wrench {
  background-position: -360px -144px;
}
.halflings-icon.remove {
  background-position: -312px 0;
}
.halflings-icon.remove-sign {
  background-position: -48px -96px;
}
.halflings-icon.remove-circle {
  background-position: -168px -96px;
}
.halflings-icon.chevron-up {
  background-position: -288px -120px;
}
.halflings-icon.cog {
  background-position: -432px 0;
}
.halflings-icon.home {
  background-position: 0 -24px;
}
.halflings-icon.lock {
  background-position: -287px -24px;
}